
.card img {
    height: 20em;
    object-fit: cover; 
  }
  .cart-btn {
    position: fixed;
    top: 13px;
    right: 20px;
    z-index: 999;
  }
  footer {
    text-align: center; margin-left: 10px;
  }
  .container-fluid{
    margin: 0;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }
  /*.store-name p{
  margin-bottom: 1em; text-align: center;
  padding-bottom: 0.2em; color: rgb(255, 141, 2);
  }
  .store-name h1{
    color: rgb(255, 141, 2);
  }*/
  